*{
  background-color: #282828;
}

.clock{
  text-align: center;
}

.settings{
  text-align: center;
}

.settingsToggleButton{
  border: none;
}

h1{
  font-size: 42px;
  color: antiquewhite;

  font-family: 'Bebas Neue', cursive;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Quantico', sans-serif;
  user-select: none;

}

.breakClock{
  margin: 2%;
  margin-bottom: 4%;
  font-size: 86px;
  color: #6ABEDB;
}

.workClock{
  margin: 2%;
  margin-bottom: 4%;
  font-size: 86px;
  color: #A62139;
}

.workTimeSettingsControl{
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
}

.workTimeSettingsControl:hover{
    filter: brightness(1.4)
}

.breakTimeSettingsControl{
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
}

.workTimeSettingsControl h1{
  font-size: 42px;
  color: #A62139;
}

.breakTimeSettingsControl h1{
  font-size: 42px;
  color: #6ABEDB;
  transition: filter 300ms;
}

.breakTimeSettingsControl:hover{
    filter: brightness(1.4)
}

.timerTitle{
  margin-bottom: 0;
  color:antiquewhite
}

.settingsTitle{
  margin-top: 5%;
  font-size: 24px;
}

.controlPanel{
  display: flex;
  gap: 3%;
  justify-content: center;
  align-items: center;
}

.resetButton{
  background-color: #282828;
  border-radius: 50%;
  padding: 10px;
  transition: filter 300ms;
}

.resetButton:hover{
  filter: brightness(1.4)
}

.startButton{
  background-color: #282828;
  border-radius: 50%;
  padding: 10px;
  transition: filter 300ms;
}

.startButton:hover{
  filter: brightness(1.4)
}

.pauseButton{
  background-color: #282828;
  border-radius: 50%;
  padding: 10px;
  transition: filter 300ms;
}

.pauseButton:hover{
  filter: brightness(1.4)
}

.nextButton{
  background-color: #282828;
  border-radius: 50%;
  padding: 10px;
  transition: filter 300ms;
}

.nextButton:hover{
  filter: brightness(1.4)
}