*{
  background-color: #282828;
}

.clock{

  text-align: center;
}

h1{
  font-size: 42px;
  color: antiquewhite;

  font-family: 'Bebas Neue', cursive;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Quantico', sans-serif;
}

.breakClock{
  font-size: 86px;
  color: #6ABEDB;
}

.workClock{
  font-size: 86px;
  color: #A62139;
}

.topS{
  color: #607625;
}

.controlPanel{
  display: flex;
  gap: 3%;
  justify-content: center;
  align-items: center;
}
