
.navItem{
    display: flex;
    border: none;
    outline: none;
    color: antiquewhite;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    left: 2%;
    width: 100%;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    background: #282828;
    height: 100vh;
    padding-top: 5%;
    position: fixed;
    transition: ease .6s;
    width: 0px;
    z-index: 100;

    right: 0;
    
    overflow: hidden;
}

#menu:checked ~ .nav {
    background: #3f3f3f;
    width: 20%;
}

.icon {
    background: #282828;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 16px;
    width: 24px;
    margin: 27px;
    transition: ease .6s;
}

#menu:checked ~ .icon{
    background: #3f3f3f;
}

label.icon {
    right: 0;
    position: fixed;
    z-index: 200;
}


input#menu {
    display: none;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: #9FB1BD;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: antiquewhite;
}

.icon .menu {
    left: 18px;
    top: 27px;
}

.icon .menu::before {
    top: -6px;
}

.icon .menu::after {
    top: 6px;
}

#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}
